.profile__edit-button {
  grid-area: edit-button;
  margin-left: 18px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 934px) and (min-width: 635px) {
  .profile__edit-button {
    margin-left: 14px;
    width: 21px;
    height: 21px;
  }
}

@media screen and (max-width: 635px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
