.profile__edit-button {
  margin-left: 18px;
  max-width: 24px;
  max-width: 24px;
}

@media screen and (max-width: 934px) and (min-width: 635px) {
  .profile__edit-button {
    margin-left: 14px;
    max-width: 21px;
    max-width: 21px;
  }
}

@media screen and (max-width: 635px) {
  .profile__edit-button {
    margin-left: 10px;
    max-width: 18px;
    max-width: 18px;
  }
}
