.profile-info__description {
  margin: 0;
  padding: 0;
  max-height: 18px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

@media screen and (max-width: 934px) and (min-width: 635px) {
  .profile-info__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 635px) {
  .profile-info__description {
    max-height: 14px;
    font-size: 14px;
  }
}
