.popup__close-icon {
  position: relative;
  width: 32px;
  height: 32px;
  left: 438px;
  bottom: 40px;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 635px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    left: 262px;
    bottom: 36px;
  }
}
