.popup__close-icon {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 32px;
  height: 32px;
  left: 438px;
  bottom: 40px;
  cursor: pointer;
  background: url(../../../images/close-icon.svg) transparent;
  background-size: contain;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 635px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    left: 262px;
    bottom: 36px;
  }
}
