.profile__text-data {
  max-width: 336px;
  min-height: 73px;
  display: grid;
  grid-template-areas:
  "name edit-button"
  "about none";
  row-gap: 16px;
  align-items: baseline;
  align-content: center;
}

@media screen and (max-width: 635px) {
  .profile__text-data {
    row-gap: 14px;
    justify-items: center;
  }
}

